		<ul class="navbar-nav text-uppercase ml-auto" style: "display: block;">
			<li class="nav-item" style="float: left; margin-right: 40px;">
				<a class="nav-link" href="/admin">Admin</a>
			</li>	
			<li class="nav-item" style="float: left; margin-right: 40px;">
				<a class="nav-link" href="/admin/categories">Categories</a>
			</li>
			<li class="nav-item" style="float: left; margin-right: 40px;">
				<a class="nav-link" href="/">Link 3</a>
			</li>
		</ul>